# The PostgreSQL connection string for the Enterprise Cloud Server
DATABASE_URL="postgresql://postgres.mmrozcrmcbxpgijbenmx:POS@Chimney01@aws-1-ap-south-1.pooler.supabase.com:6543/postgres"

# The master secret key for authenticating your edge clients
CLOUD_API_KEY="enterprise-secret-key-123"

# Optional: Restrict what domains can call your cloud server
ALLOWED_ORIGINS="*"
